{
	"daemon": {
		"host": "localhost",
		"port": 8080
	},
	"receivers": {
		"insecure": {
			"name": "Insecure"
		},
		"github": {
			"name": "GitHub",
			"secret": "s33kret",
			"ref": "refs/heads/master"
		}		
	},	
	"transformations": {
		"null": {
			"name": "Null"
		},
		"chicken": {
			"name": "Chicken",
			"language": "zxx",
			"clucking": false
		},
		"clucking": {
			"name": "Chicken",
			"language": "eng",
			"clucking": true
		},
		"commits": {
			"name": "GitHubCommits",
			"exclude_additions": true,
			"exclude_modifications": true,
			"exclude_deletions": true
		}				
		
	},
	"dispatchers": {
		"null": {
			"name": "Null"
		},
		"log": {
			"name": "Log"
		}
	},
	"webhooks": [
		{
			"endpoint": "/github-test",
			"receiver": "github",
			"transformations": [ "chicken" ],
			"dispatchers": [ "log" ]
		},
		{
			"endpoint": "/insecure-test",
		 	"receiver": "insecure",
			"transformations": [ "chicken" ],
			"dispatchers": [ "log" ]
		}
	]
}
